# Binarios y compilacion
bin/
*.exe
*.o
*.a
*.pdb

# Scripts de compilacion locales
compilar.bat

# Dependencias (si se bajan localmente)
lib/raylib.a
lib/raylib.lib

# VS Code y editores
.vscode/
.idea/
*.swp
*.bak

# Otros
backup/
mingw64/
